*{
    margin-left: 1%;
    
}


.navbar-container{
    display: inline-flex;
}

nav img{
    width: 130px;
    height: 50px;
    margin-left: 12%;
    
}

.list{
    font-family: Orbitron;
    display:inline-flex;
    list-style-type: none;
    margin-left: 35%;    
    
}
.list-item{
    margin-left: 30px;
    padding: 5px;
    text-decoration: none;
    font-size: 22px;
    
}

.button-group{
    display: inline-flex;
    margin-left: 35%;
    margin-top:12px;
}

.search-icon{
    margin-top: 8px;
}
button{
    border: 2px solid black;
    width: 125px;
    height: 35px;
    font-size: 20px;
    background-color: white;
    margin-left: 10px;
    border-radius: 8px;
}

.square  img{
    margin-top: 14%;
    margin-left: 6%;
}
.person-hero-image{
    margin-top: -46%;
}
.person-hero-image img{
    width: 370px;
}

.hero-container-right{
    margin-top: -40%;
    margin-left: 45%;
    text-align: center;
}
.hero-heading{
    font-family: Orbitron;
    font-weight: bolder;
    font-size: 35px;
    margin-bottom: 50px;
}
.hero-description{
    font-size: 20px;
    font-family: sans-serif;

}

.join-group{
    margin-top: 23%;
    margin-bottom: 5%;
    
}

.button-email{
    width: 2in;
    font-family: Orbitron;
    color: gray;
}
.button-join{
    font-family: Orbitron;
    width: 1.5in;
    color: white;
    background-color: black;
}

.contact-heading{
    color: gray;
    font-size: 15px;
}

.globe img{
    width: 50px;
    height: 50px;
    position: relative;
    left: 50px;
    top: -520px
}

.star img{
    width: 50px;
    height: 50px;
    position: relative;
    left: 530px;
    top: -490px
}